.password-security {
    width: 65%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.password-security-container {
    width: 100%;
    min-height: 97vh;
    max-height: 100%;
    display: flex;
    border-radius: 10px;
    padding-bottom: 10px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.password-security-section {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(222, 222, 222, 0.188);
    margin-top: 20px;
    border: 1px solid rgba(183, 182, 182, 0.188);
}
.password-update{
    width: 25%;
}
.password-update-btn{
    width:16%;
}.grid3{
    width: 80%;
}
@media (max-width:1250px) {
    .password-security{
        width: 90%;
    }
}