.profile_about {
    width: 65%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.profile_about-container {
    width: 100%;
    min-height: 97vh;
    max-height: 100%;
    display: flex;
    border-radius: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: start;
}


.profile_about_main{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 20px;
    height: 100%;
    flex-direction: column;
}

.profile-about-image {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgba(222, 222, 222, 0.188);
    margin-top: 20px;
    border: 1px solid rgba(183, 182, 182, 0.188);
}


.profile_about_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgba(222, 222, 222, 0.685);
}
.profile_about_img-option h3{
    padding: 5px 20px;
    background-color: rgba(222, 222, 222, 0.488);
    width: fit-content;
    font-size:12px;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
}
.profile_about_img-option h5{
    font-size:7px;
    border-radius: 50px;
    margin-top: 10px;
    width: 400px;
}
.profile-about-personal-info{
    width: 100%;
    padding-left: 20px;
    border: 1px solid rgba(183, 182, 182, 0.188);
    background-color: rgba(222, 222, 222, 0.188);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.profile-about-personal-info-contacts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 40px;
    height: fit-content;
    gap: 30px;
    row-gap: 40px;
}
.profile-about-personal-info-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.profile-about-personal-info-addresess{
    border: 1px solid rgba(183, 182, 182, 0.188);
    background-color: rgba(222, 222, 222, 0.188);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}