.why-choose-us-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.why-choose-us-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}


.why-choose-us-title {
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
  line-height: 1.5;
}

.why-choose-us-grid {
  display: flex;
  gap: 15px;
}

.why-choose-us-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  padding: 7px 20px;
}

.why-choose-us-card span {
  font-size: 14px;
  color: #333;
}

.icon svg {
  stroke: #2ecc71;
  fill: none;
  stroke-width: 2;
}


/* Responsive */

@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}